/* GENERAL */
body {box-sizing: border-box; margin: 0; padding:0;}
h1 {font-size: 1.5em;}
p, ul, ol {line-height: 1.5em;}

/* COLORS */
.grey {color: grey !important;}
.red {color: red!important;}

/* HEADER */
header {text-align: center;}
#logo {padding:10px;}
nav {border-top:1px solid rgb(255, 255, 0); font-size: 12px; background-color:rgb(255, 255, 239); padding: 10px;}

/* MAIN */
main {width: 50%; margin: 0 auto; text-align: center;}
.box-img {height: 400px; background-image: url(assets/img.webp); background-size: cover; border-radius: 10px;}
.caption {text-align: left; border-left: solid 1px rgb(255, 255, 0); padding-left: 10px; margin-bottom: 40px;}
#ricetta {text-align: left;}
#ricetta h2 {padding-bottom:20px; border-bottom:1px solid rgb(193, 193, 193); font-weight: 400;}

/* FOOTER */
footer p {text-align: center;}