.container {width: 50%; margin: 0 auto; text-align: center;}
.menu {background-color:#fff; padding: 10px;}
.submenu {border-top:1px solid rgb(255, 255, 0); font-size: 12px; background-color:rgb(255, 255, 239); padding: 10px;}
h1 {font-size: 1.5em; padding: 0 50px;}
p, ul, ol {line-height: 1.5em;}
.box-img {height: 400px; overflow: hidden; background-image: url(assets/img.webp); background-size: cover; border-radius: 10px;}
.ricetta {text-align: left;}
.ricetta h2 {padding-bottom:20px; border-bottom:1px solid rgb(193, 193, 193); font-weight: 400;}
a {color: grey;}